.app-loader {
  width: 4rem;
  height: 4rem;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app-loader::before,
.app-loader::after {
  content:"";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#f78355 92%,#0000);
  background:
    var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 50%,
    var(--c) 0    50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.app-loader::before {
  margin:4px;
  filter:hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{
  100%{transform: rotate(.5turn)}
}
